## TA_SQL-Challenge
### Import the SQL database into Pandas using SQLAlchemy

In [1]:
# dependencies
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# import username and password from config.py file (created for security)
# the config.py file makes use of the gitignore file setup so passwords are not pushed to a public github site
from config import username, password

In [3]:
from sqlalchemy import create_engine
database = "Corp_Employee_db"
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/{database}')
connection = engine.connect()

In [4]:
data = engine.execute("SELECT * FROM employees limit 100")

for record in data:
    print(record)

(10001, datetime.date(1953, 9, 2), 'Georgi', 'Facello', 'M', datetime.date(1986, 6, 26))
(10002, datetime.date(1964, 6, 2), 'Bezalel', 'Simmel', 'F', datetime.date(1985, 11, 21))
(10003, datetime.date(1959, 12, 3), 'Parto', 'Bamford', 'M', datetime.date(1986, 8, 28))
(10004, datetime.date(1954, 5, 1), 'Chirstian', 'Koblick', 'M', datetime.date(1986, 12, 1))
(10005, datetime.date(1955, 1, 21), 'Kyoichi', 'Maliniak', 'M', datetime.date(1989, 9, 12))
(10006, datetime.date(1953, 4, 20), 'Anneke', 'Preusig', 'F', datetime.date(1989, 6, 2))
(10007, datetime.date(1957, 5, 23), 'Tzvetan', 'Zielinski', 'F', datetime.date(1989, 2, 10))
(10008, datetime.date(1958, 2, 19), 'Saniya', 'Kalloufi', 'M', datetime.date(1994, 9, 15))
(10009, datetime.date(1952, 4, 19), 'Sumant', 'Peac', 'F', datetime.date(1985, 2, 18))
(10010, datetime.date(1963, 6, 1), 'Duangkaew', 'Piveteau', 'F', datetime.date(1989, 8, 24))
(10011, datetime.date(1953, 11, 7), 'Mary', 'Sluis', 'F', datetime.date(1990, 1, 22))
(10012, datetime.date(1960, 10, 4), 'Patricio', 'Bridgland', 'M', datetime.date(1992, 12, 18))
(10013, datetime.date(1963, 6, 7), 'Eberhardt', 'Terkki', 'M', datetime.date(1985, 10, 20))
(10014, datetime.date(1956, 2, 12), 'Berni', 'Genin', 'M', datetime.date(1987, 3, 11))
(10015, datetime.date(1959, 8, 19), 'Guoxiang', 'Nooteboom', 'M', datetime.date(1987, 7, 2))
(10016, datetime.date(1961, 5, 2), 'Kazuhito', 'Cappelletti', 'M', datetime.date(1995, 1, 27))
(10017, datetime.date(1958, 7, 6), 'Cristinel', 'Bouloucos', 'F', datetime.date(1993, 8, 3))
(10018, datetime.date(1954, 6, 19), 'Kazuhide', 'Peha', 'F', datetime.date(1987, 4, 3))
(10019, datetime.date(1953, 1, 23), 'Lillian', 'Haddadi', 'M', datetime.date(1999, 4, 30))
(10020, datetime.date(1952, 12, 24), 'Mayuko', 'Warwick', 'M', datetime.date(1991, 1, 26))
(10021, datetime.date(1960, 2, 20), 'Ramzi', 'Erde', 'M', datetime.date(1988, 2, 10))
(10022, datetime.date(1952, 7, 8), 'Shahaf', 'Famili', 'M', datetime.date(1995, 8, 22))
(10023, datetime.date(1953, 9, 29), 'Bojan', 'Montemayor', 'F', datetime.date(1989, 12, 17))
(10024, datetime.date(1958, 9, 5), 'Suzette', 'Pettey', 'F', datetime.date(1997, 5, 19))
(10025, datetime.date(1958, 10, 31), 'Prasadram', 'Heyers', 'M', datetime.date(1987, 8, 17))
(10026, datetime.date(1953, 4, 3), 'Yongqiao', 'Berztiss', 'M', datetime.date(1995, 3, 20))
(10027, datetime.date(1962, 7, 10), 'Divier', 'Reistad', 'F', datetime.date(1989, 7, 7))
(10028, datetime.date(1963, 11, 26), 'Domenick', 'Tempesti', 'M', datetime.date(1991, 10, 22))
(10029, datetime.date(1956, 12, 13), 'Otmar', 'Herbst', 'M', datetime.date(1985, 11, 20))
(10030, datetime.date(1958, 7, 14), 'Elvis', 'Demeyer', 'M', datetime.date(1994, 2, 17))
(10031, datetime.date(1959, 1, 27), 'Karsten', 'Joslin', 'M', datetime.date(1991, 9, 1))
(10032, datetime.date(1960, 8, 9), 'Jeong', 'Reistad', 'F', datetime.date(1990, 6, 20))
(10033, datetime.date(1956, 11, 14), 'Arif', 'Merlo', 'M', datetime.date(1987, 3, 18))
(10034, datetime.date(1962, 12, 29), 'Bader', 'Swan', 'M', datetime.date(1988, 9, 21))
(10035, datetime.date(1953, 2, 8), 'Alain', 'Chappelet', 'M', datetime.date(1988, 9, 5))
(10036, datetime.date(1959, 8, 10), 'Adamantios', 'Portugali', 'M', datetime.date(1992, 1, 3))
(10037, datetime.date(1963, 7, 22), 'Pradeep', 'Makrucki', 'M', datetime.date(1990, 12, 5))
(10038, datetime.date(1960, 7, 20), 'Huan', 'Lortz', 'M', datetime.date(1989, 9, 20))
(10039, datetime.date(1959, 10, 1), 'Alejandro', 'Brender', 'M', datetime.date(1988, 1, 19))
(10040, datetime.date(1959, 9, 13), 'Weiyi', 'Meriste', 'F', datetime.date(1993, 2, 14))
(10041, datetime.date(1959, 8, 27), 'Uri', 'Lenart', 'F', datetime.date(1989, 11, 12))
(10042, datetime.date(1956, 2, 26), 'Magy', 'Stamatiou', 'F', datetime.date(1993, 3, 21))
(10043, datetime.date(1960, 9, 19), 'Yishay', 'Tzvieli', 'M', datetime.date(1990, 10, 20))
(10044, datetime.date(1961, 9, 21), 'Mingsen', 'Casley', 'F', datetime.date(1994, 5, 21))
(10045, datetime.date(1957, 8, 14), 'Moss', 'Shanbhogue', 'M', datetime.date(1989, 9, 2))
(10046, datetime.date(1960, 7, 23), 'Lucien', 'Rosenbaum', 'M', datetime.date(1992, 6, 20))
(10047, datetime.date(1952, 6, 29), 'Zvonko', 'Nyanchama', 'M', datetime.date(1989, 3, 31))
(10048, datetime.date(1963, 7, 11), 'Florian', 'Syrotiuk', 'M', datetime.date(1985, 2, 24))
(10049, datetime.date(1961, 4, 24), 'Basil', 'Tramer', 'F', datetime.date(1992, 5, 4))
(10050, datetime.date(1958, 5, 21), 'Yinghua', 'Dredge', 'M', datetime.date(1990, 12, 25))
(10051, datetime.date(1953, 7, 28), 'Hidefumi', 'Caine', 'M', datetime.date(1992, 10, 15))
(10052, datetime.date(1961, 2, 26), 'Heping', 'Nitsch', 'M', datetime.date(1988, 5, 21))
(10053, datetime.date(1954, 9, 13), 'Sanjiv', 'Zschoche', 'F', datetime.date(1986, 2, 4))
(10054, datetime.date(1957, 4, 4), 'Mayumi', 'Schueller', 'M', datetime.date(1995, 3, 13))
(10055, datetime.date(1956, 6, 6), 'Georgy', 'Dredge', 'M', datetime.date(1992, 4, 27))
(10056, datetime.date(1961, 9, 1), 'Brendon', 'Bernini', 'F', datetime.date(1990, 2, 1))
(10057, datetime.date(1954, 5, 30), 'Ebbe', 'Callaway', 'F', datetime.date(1992, 1, 15))
(10058, datetime.date(1954, 10, 1), 'Berhard', 'McFarlin', 'M', datetime.date(1987, 4, 13))
(10059, datetime.date(1953, 9, 19), 'Alejandro', 'McAlpine', 'F', datetime.date(1991, 6, 26))
(10060, datetime.date(1961, 10, 15), 'Breannda', 'Billingsley', 'M', datetime.date(1987, 11, 2))
(10061, datetime.date(1962, 10, 19), 'Tse', 'Herber', 'M', datetime.date(1985, 9, 17))
(10062, datetime.date(1961, 11, 2), 'Anoosh', 'Peyn', 'M', datetime.date(1991, 8, 30))
(10063, datetime.date(1952, 8, 6), 'Gino', 'Leonhardt', 'F', datetime.date(1989, 4, 8))
(10064, datetime.date(1959, 4, 7), 'Udi', 'Jansch', 'M', datetime.date(1985, 11, 20))
(10065, datetime.date(1963, 4, 14), 'Satosi', 'Awdeh', 'M', datetime.date(1988, 5, 18))
(10066, datetime.date(1952, 11, 13), 'Kwee', 'Schusler', 'M', datetime.date(1986, 2, 26))
(10067, datetime.date(1953, 1, 7), 'Claudi', 'Stavenow', 'M', datetime.date(1987, 3, 4))
(10068, datetime.date(1962, 11, 26), 'Charlene', 'Brattka', 'M', datetime.date(1987, 8, 7))
(10069, datetime.date(1960, 9, 6), 'Margareta', 'Bierman', 'F', datetime.date(1989, 11, 5))
(10070, datetime.date(1955, 8, 20), 'Reuven', 'Garigliano', 'M', datetime.date(1985, 10, 14))
(10071, datetime.date(1958, 1, 21), 'Hisao', 'Lipner', 'M', datetime.date(1987, 10, 1))
(10072, datetime.date(1952, 5, 15), 'Hironoby', 'Sidou', 'F', datetime.date(1988, 7, 21))
(10073, datetime.date(1954, 2, 23), 'Shir', 'McClurg', 'M', datetime.date(1991, 12, 1))
(10074, datetime.date(1955, 8, 28), 'Mokhtar', 'Bernatsky', 'F', datetime.date(1990, 8, 13))
(10075, datetime.date(1960, 3, 9), 'Gao', 'Dolinsky', 'F', datetime.date(1987, 3, 19))
(10076, datetime.date(1952, 6, 13), 'Erez', 'Ritzmann', 'F', datetime.date(1985, 7, 9))
(10077, datetime.date(1964, 4, 18), 'Mona', 'Azuma', 'M', datetime.date(1990, 3, 2))
(10078, datetime.date(1959, 12, 25), 'Danel', 'Mondadori', 'F', datetime.date(1987, 5, 26))
(10079, datetime.date(1961, 10, 5), 'Kshitij', 'Gils', 'F', datetime.date(1986, 3, 27))
(10080, datetime.date(1957, 12, 3), 'Premal', 'Baek', 'M', datetime.date(1985, 11, 19))
(10081, datetime.date(1960, 12, 17), 'Zhongwei', 'Rosen', 'M', datetime.date(1986, 10, 30))
(10082, datetime.date(1963, 9, 9), 'Parviz', 'Lortz', 'M', datetime.date(1990, 1, 3))
(10083, datetime.date(1959, 7, 23), 'Vishv', 'Zockler', 'M', datetime.date(1987, 3, 31))
(10084, datetime.date(1960, 5, 25), 'Tuval', 'Kalloufi', 'M', datetime.date(1995, 12, 15))
(10085, datetime.date(1962, 11, 7), 'Kenroku', 'Malabarba', 'M', datetime.date(1994, 4, 9))
(10086, datetime.date(1962, 11, 19), 'Somnath', 'Foote', 'M', datetime.date(1990, 2, 16))
(10087, datetime.date(1959, 7, 23), 'Xinglin', 'Eugenio', 'F', datetime.date(1986, 9, 8))
(10088, datetime.date(1954, 2, 25), 'Jungsoon', 'Syrzycki', 'F', datetime.date(1988, 9, 2))
(10089, datetime.date(1963, 3, 21), 'Sudharsan', 'Flasterstein', 'F', datetime.date(1986, 8, 12))
(10090, datetime.date(1961, 5, 30), 'Kendra', 'Hofting', 'M', datetime.date(1986, 3, 14))
(10091, datetime.date(1955, 10, 4), 'Amabile', 'Gomatam', 'M', datetime.date(1992, 11, 18))
(10092, datetime.date(1964, 10, 18), 'Valdiodio', 'Niizuma', 'F', datetime.date(1989, 9, 22))
(10093, datetime.date(1964, 6, 11), 'Sailaja', 'Desikan', 'M', datetime.date(1996, 11, 5))
(10094, datetime.date(1957, 5, 25), 'Arumugam', 'Ossenbruggen', 'F', datetime.date(1987, 4, 18))
(10095, datetime.date(1965, 1, 3), 'Hilari', 'Morton', 'M', datetime.date(1986, 7, 15))
(10096, datetime.date(1954, 9, 16), 'Jayson', 'Mandell', 'M', datetime.date(1990, 1, 14))
(10097, datetime.date(1952, 2, 27), 'Remzi', 'Waschkowski', 'M', datetime.date(1990, 9, 15))
(10098, datetime.date(1961, 9, 23), 'Sreekrishna', 'Servieres', 'F', datetime.date(1985, 5, 13))
(10099, datetime.date(1956, 5, 25), 'Valter', 'Sullins', 'F', datetime.date(1988, 10, 18))
(10100, datetime.date(1953, 4, 21), 'Hironobu', 'Haraldson', 'F', datetime.date(1987, 9, 21))